<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Show Reservation</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <img class="img-avatar" [src]="item.avatar">
      </div>
      <div class="col col-md-8">
        <h5 class="mb-1">Customer Name</h5>
        <h6>{{this.item.CustomerName}}</h6>
        <h5 class="mb-1">Customer Phone</h5>
        <h6>{{this.item.CustomerPhone}}</h6>
        <h5 class="mb-1">Item Name</h5>
        <h6>{{this.item.ItemName}}</h6>
        <h5 class="mb-1">Item ID</h5>
        <h6>{{this.item.ItemID}}</h6>
        <h5 class="mb-1">Reserver</h5>
        <h6>{{this.item.Reserver}}</h6>
        <h5 class="mb-1">Reservation Date</h5>
        <h6>{{this.item.ReservationDate}}</h6>
        <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
            <div class="row submit-button-container">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" routerLink="home">Back</button>
              </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
